<div class="signup-container">
  <div class="col-md-4 col-md-offset-1">
    <div class="login-container__content">
      <img src="assets/images/Logo.png" alt="">
      <h1>Create account</h1>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit(loginForm)">
        <div class="c-input-group c-input-group--stacked">
          <div class="form-group">
            <label for="">Email</label>
            <input
              class="c-field form-control"
              type="text">
          </div>

          <div class="form-group">
            <label for="">Name</label>
            <input
              class="c-field form-control"
              type="text">
          </div>

          <div class="form-group">
            <label for="">Phone Number</label>
            <input
              class="c-field form-control"
              type="text">
          </div>

          <div class="form-group">
            <label for="">Password</label>
            <input
              class="c-field form-control"
              type="text"
              formControlName="password">
          </div>

          <input
            class="c-button btn-primary btn-lg btn-block"
            type="submit"
            value="Login">
        </div>

        <p class="text-center">Already have an account?
          <a
            routerLink="/signup">
             Sign in.
          </a>
        </p>

      </form>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>
