<section class="intro">
  <img src="/assets/images/Logo.png" class="intro__logo">
  <img src="/assets/images/lets-play.svg" alt="" class="intro__overlayimg">

  <div class="invitation-container">
    <h3 class="text-center">Send invitations to your team</h3>
    <label for="">Email</label>
    <input type="text" class="form-control">
    <p class="text-center">
      253 active members are waiting for you
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg btn-block"> Send </button>
    </div>
  </div>

  <div
    class="nav-links"
    *ngIf="isAuthenticated">
    <a routerLink="/create-match" class="btn btn-default btn-lg">
      Create match
    </a>
    <a routerLink="/logout" class="btn btn-default  btn-lg">
      Logout
    </a>
  </div>

  <div
    class="nav-links"
    *ngIf="!isAuthenticated">
    <a routerLink="/login" class="btn btn-default btn-lg">
      login
    </a>
    <a routerLink="signup" class="btn btn-default  btn-lg">
      signup
    </a>
  </div>
</section>

<section class="container upcomming">
  <h3 class="pull-left">UpComing Games</h3>
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default">Today</button>
    <button type="button" class="btn btn-default">Tomorrow</button>
    <!-- <button type="button" class="btn btn-default">Custom</button> -->
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div
      class="col-md-4"
      *ngFor="let game of games">
      <div class="match-card">
        <div class="header-wrapper">
          <h3>{{game.players_joined}} / {{game.capacity}}</h3>
          <img src="/assets/images/bg.png" alt="">
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" [style.width.%]="(100*(game.players_joined/game.capacity))">
              <span class="sr-only">{{(100*(game.players_joined/game.capacity))}}% Complete</span>
            </div>
          </div>
        </div>

        <div class="match-details">
          <div class="row">
            <div class="col-md-12">
              <h5 class="pull-left">Time</h5>
              <h5 class="pull-right">{{game.time_from}} - {{game.time_to}}</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <label for="">Place</label>
              <p>
                {{game.place}}
              </p>
            </div>
            <div class="col-md-4">
              <img src="/assets/images/marker.png" alt="" class="match-details__marker">
            </div>
          </div>

          <div class="text-center">
            <h4>{{game.capacity - game.players_joined}} Players needed</h4>
          </div>
        </div>

          <button
            class="btn btn-primary btn-block btn-lg"
            (click)="joinGame(game)"
            [disabled]="game.is_disabled">
            JOIN
          </button>
      </div>
    </div>
  </div>
</section>


<section class="col-md-6 col-md-offset-3 slack">
  <h2 class="text-center">Join our growing slack community</h2>
  <input type="text" class="form-control">
  <p class="text-center">
    253 active members are waiting for you
  </p>
  <div class="col-md-4 col-md-offset-4">
    <div class="text-center">
      <button class="btn btn-primary btn-lg btn-block"> Send </button>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<footer>
  <div class="container">
    <div class="col-md-4">
      <p class="pull-left">Download the app</p>
      <div class="pull-left">
        <a href="#">
          <img src="/assets/images/android-logo.png" alt="">
        </a>
        <a href="#">
          <img src="/assets/images/apple-logo.png" alt="">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <p class="pull-left">Follow us</p>
      <div class="pull-left">
        <a href="#">
          <img src="/assets/images/facebook-icon.svg" alt="">
        </a>
        <a href="#">
          <img src="/assets/images/twitter-icon.svg" alt="">
        </a>
        <a href="#">
          <img src="/assets/images/medium-icon.svg" alt="">
        </a>
        <a href="#">
          <img src="/assets/images/what's-app-icon.svg" alt="">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <p class="pull-left">Powered by</p>
      <div class="pull-left">
        <a href="#">
          <img src="/assets/images/instabug.png" class="instabug-logo">
        </a>
      </div>
    </div>
  </div>
</footer>
