<div class="login-container">
  <div class="col-md-4 col-md-offset-1">
    <div class="login-container__content">
      <img src="assets/images/Logo.png" alt="">
      <h1>Welcome back, please login to your account</h1>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit(loginForm)">
        <div class="c-input-group c-input-group--stacked">
          <div class="form-group">
            <label for="">Email</label>
            <input
              class="c-field form-control"
              type="text"
              formControlName="email"
              email>
          </div>

          <div class="form-group">
            <label for="">Password</label>
            <input
              class="c-field form-control"
              type="password"
              formControlName="password">
          </div>

          <input
            class="c-button btn-primary btn-lg btn-block"
            type="submit"
            value="Login">
        </div>


      </form>

      <p class="text-center">EAlready have an account?
        <a
          routerLink="/signup">
          Sign Up.
        </a>
      </p>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>
