.create-match{
  background: url('/assets/images/inner-bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

nav{
  img{
    height: 100px;
  }
}